    a {
        color: #fff
    }
    
    .back {
        height: 100%;
        position: relative;
    }
    
    .hender {
        /* background: #000000; */
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }
    
    .nav {
        font-size: 1.2em;
        line-height: 80px
    }
    
    .nav>li {
        display: inline-block;
        /* margin: 0 30px; */
        padding: 0 30px;
    }
    
    table {
        clear: both
    }
    
    .nav>li:hover {
        border-bottom: 3px solid #fff;
    }